.home-container {
display: flex;
height: 100vh;
width: 100vw;
animation: bgcolor 20s infinite;
animation-direction: alternate;
align-items: center;
flex-direction: column;
gap: 2vh;
}

.general-instructions {
  display: flex;
  margin-top: 5vh;
}

.zen-mode-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  color: white;
  text-align: center;
}

.zen-mode-button {
  background-color: white;
  border-radius: 1rem;
  width: fit-content;
  padding: 10px;
  text-decoration: none;
  animation: fscolor 20s infinite;
  animation-direction: alternate;
  margin-bottom: 10px;
}

.speed-mode-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  color: white;
  text-align: center;
}

.speed-mode-button {
  background-color: white;
  border-radius: 1rem;
  width: fit-content;
  padding: 10px;
  text-decoration: none;
  animation: fscolor 20s infinite;
  animation-direction: alternate;
  margin-bottom: 10px;
}

.berserker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  color: white;
  text-align: center;
}

.berserker-button {
  background-color: white;
  border-radius: 1rem;
  width: fit-content;
  padding: 10px;
  text-decoration: none;
  animation: fscolor 20s infinite;
  animation-direction: alternate;
  margin-bottom: 10px;
}

.general-overview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  color: white;
  text-align: center;
}

.created-by {
  display: flex;
  position: fixed;
  right: 10vw;
  bottom: 5vh;
  flex-direction: column;
  text-align: right;
}

.created-by>a {
  text-decoration: none;
  animation: fscolor 20s infinite;
  animation-direction: alternate;
}

@keyframes bgcolor {
  0% {
      background-color: #45a3e5
  }

  30% {
      background-color: #66bf39
  }

  60% {
      background-color: #eb670f
  }

  90% {
      background-color: #f35
  }

  100% {
      background-color: #864cbf
  }
}

@keyframes fcolor {
  0% {
      color: #45a3e5
  }

  30% {
      color: #66bf39
  }

  60% {
      color: #eb670f
  }

  90% {
      color: #f35
  }

  100% {
      color: #864cbf
  }
}

@keyframes fscolor {
  0% {
      color: #d2a5ff
  }

  30% {
      color: #73c5ff
  }

  60% {
      color: rgb(255, 159, 175)
  }

  90% {
      color: rgb(255, 202, 102)
  }

  100% {
      color: rgb(234, 255, 159)
  }
}
